<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my webscraper</title>
</head>
    <body>

    <h3 align="center">
        <font face="Lato" size="6">WEBSCRAPER</font>
    </h3>
    </br>
    <h1 align="center">
        <font face="Lato" color="#017bf5" size="5">
            A SIMPLE WEBSCRAPER TO COMAPRE THE PRICES
        </font>
    </h1>
     <h2 align="center">
        <font face="Lato" color="#017bf5" size="5">
            ENTER BRAND BELOW::
        </font>
    </h2>

    <form align="center" method="POST">
    <input type="text" name="num1" required><br>
    </form>
    <h3 align="center">
        <font face="Lato" color="#017bf5" size="5">
            ENTER WEBSITE BELOW::
        </font>
    </h3>
    <form align="center"  method="POST">
    <input type="text" name="num2" required><br><br>
    <input type="submit" value="SUBMIT TO CHECK PRICE">
    </form>
</body>
</html>

